###############################################################
### 项目基础设置 ###############################################
###############################################################

# 指向本地代码路径
CODE_PATH_HOST=./www

# 本地CODE_PATH将挂载的容器目录
CODE_PATH_CONTAINER=/var/www

# 选择本地存储数据的路径
DATA_PATH_HOST=.javadock/data

LOGS_PATH_HOST=.javadock/logs

###############################################################
### Drivers ###################################################
###############################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge


###############################################################
### Docker compose 文件的设置 ##################################
###############################################################

# 指定compose文件
COMPOSE_FILE=docker-compose.yml

# 路径分隔符，Linux/MacOS是冒号 : ，Windows是分号 ; 
COMPOSE_PATH_SEPARATOR=;

# 容器的项目名称前缀
COMPOSE_PROJECT_NAME=javadock

# 定义是否启用从Windows样式到Unix样式的路径转换
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Docker宿主机IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=10.0.75.1

###############################################################
### DATABASE ##################################################
###############################################################

### MYSQL #################################################
MYSQL_VERSION=5.6
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

### REDIS #################################################
REDIS_PORT=6379

###############################################################
### JAVAWEB ######################################################
###############################################################
TOMCAT_VERSION=8.5-jre8-alpine
TOMCAT_HTTP_PORT_HOST=80
TOMCAT_HTTPS_PORT_HOST=443
