###############################################################
### 项目基础设置 ###############################################
###############################################################

# 指向本地代码路径
CODE_PATH_HOST=./www

# 本地CODE_PATH将挂载的容器目录
CODE_PATH_CONTAINER=/var/www

# 选择本地存储数据的路径
DATA_PATH_HOST=.javadock/data

LOGS_PATH_HOST=.javadock/logs

###############################################################
### Drivers ###################################################
###############################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge


###############################################################
### Docker compose 文件的设置 ##################################
###############################################################

# 指定compose文件
COMPOSE_FILE=docker-compose.yml

# 路径分隔符，Linux/MacOS是冒号 : ，Windows是分号 ; 
COMPOSE_PATH_SEPARATOR=;

# 容器的项目名称前缀
COMPOSE_PROJECT_NAME=javadock

# 定义是否启用从Windows样式到Unix样式的路径转换
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Docker宿主机IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=10.0.75.1

###############################################################
### WORKSPACE #################################################
###############################################################

WORKSPACE_PUID=1000
WORKSPACE_PGID=1000
WORKSPACE_USER=www-data
WORKSPACE_TIMEZONE=PRC
# SSH 协议
WORKSPACE_INSTALL_SSH=true
# SSH2 协议
WORKSPACE_INSTALL_SSH2=false
# SSH 端口
WORKSPACE_SSH_PORT=2222
# mysql客户端
WORKSPACE_INSTALL_MYSQL_CLIENT=true
WORKSPACE_MAVEN_VERSION=latest
WORKSPACE_INSTALL_MONGO=false

### Javascript 相关 #######################################
# 安装 Node.js
WORKSPACE_INSTALL_NODE=true
# 指定 Node.js 的版本
WORKSPACE_NODE_VERSION=node
# NPM 国内镜像配置
WORKSPACE_NPM_REGISTRY=https://registry.npm.taobao.org
WORKSPACE_INSTALL_NPM_GULP=true
WORKSPACE_INSTALL_NPM_VUE_CLI=true
# Yarn
WORKSPACE_INSTALL_YARN=true
WORKSPACE_YARN_VERSION=latest
# V8JS 引擎
WORKSPACE_INSTALL_V8JS=false

###############################################################
### DATABASE ##################################################
###############################################################

### MYSQL #################################################
MYSQL_VERSION=5.6
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

### REDIS #################################################
REDIS_PORT=6379

### MEMCACHED #############################################
MEMCACHED_HOST_PORT=11211

### MONGODB ###############################################
MONGODB_PORT=27017

###############################################################
### JAVAWEB ######################################################
###############################################################
TOMCAT_VERSION=8.5-jre8-alpine
TOMCAT_HTTP_PORT_HOST=80
TOMCAT_HTTPS_PORT_HOST=443
